@import './_fonts';

body {
    margin: 0;
    font-family: 'Open Sans';

    .layout-wrapper {
        .layout-topbar {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            width: 100%;
            height: 70px;
            background-color: #30383c;

            .logo-container {
                display: inline-block;
                img {

                }
            }

            ul {
                padding: 0;
                list-style: none;
                position: absolute;
                right: 0;
                top: 0;
                margin: 0;

                li {
                    display: inline-block;
                    padding: 24px 32px;
                    cursor: pointer;

                    a {
                        font-size: 15px;
                        color: #ffffff;
                        
                    }
                }

                &.ui-state-active {
                    border-bottom: 6px solid #1b82d7;
                }
            }
        }

        .layout-menu {
            position: fixed;
            top: 70px;
            left: 0;
            width: 240px;
            height: 100%;
            background-color: #ffffff;
            box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);

            .ui-menu {
                padding: 0;
                margin: 0;
                width: 211px;
                border: 0;
                margin-top: 36px;

                ul {
                    .ui-widget-header {
                        background: #ffffff;
                        font-size: 14px;
                        font-weight: 600;
                        color: #889597;
                        border-radius: 0;
                        margin: 0;
                        border: 0;
                        width: 100%;
                        padding: 10px 14px;
                        border-bottom: 1px solid #e3e9ea;

                        h3 {
                            padding: 0;         
                            
                            .ui-submenu-icon {
                                margin-right: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}


